<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <meta charset="UTF-8">
    {% block head %}
    {% end %}
</head>
<body>

<div id="intro" class="page page-current intro">
    <div class="intro-center">
        {% block body %}
        {% end %}
    </div>
</div>

</body>
</html>